      body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
        color: #333;
      }

      header {
        background-color: #5a8fbc;
        color: white;
        padding: 20px;
        text-align: center;
      }

      .container {
        max-width: 900px;
        margin: 25px auto;
        padding: 25px;
        background: white;
      }

      h2 {
        color: #2c3e50;
        border-bottom: 2px solid #5a8fbc;
        padding-bottom: 5px;
      }

      p {
        margin: 10px 0;
      }

      img {
        width: 100%;
        border-radius: 8px;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      ul li {
        background: #f0f8ff;
        margin: 5px 0;

      }

      ul li strong {
        color: #181e25;
      }

      footer {
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        background-color: #97ceff;
        color: white;
      }

      a {
        color: #6e3dff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }